body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* стилизация контейнера главной формы */
.container {
    background-color: #f1eeee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 900px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form > label {
    text-align: center;
	margin-top: 25px;
	margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

form > input {
    width: 100%;
    padding: 10px 0 10px 0;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form > select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

div > select {
    width: 130px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form > button {
    background-color: #0b1cb8;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

form button:hover {
    background-color: #0075f2;
}

/* Стили для кнопок сортировок */
#sort-title,
#sort-author,
#sort-year,
#sort-genre {
    background-color:#0b1cb8;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    width: 100%;

}

#sort-title:hover,
#sort-author:hover,
#sort-year:hover,
#sort-genre:hover {
    background-color: #0075f2;
}

#book-list {
    margin-top: 20px;
    text-align: left;
}

.book {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Стили для кнопок с фильтрами */
#filter-button {
    background-color: #0b1cb8;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

#filter-button:hover {
    background-color: #0075f2;
}

/* Стили для фильтров */
#filter-genre,
#filter-author,
#filter-title,
#filter-year {
    width: 100%;
    padding: 10px 0 10px 0;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Стили для кнопок редагировки и удаления */
.book .edit,
.book .delete {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.book .edit:hover,
.book .delete:hover {
    background-color: #0056b3;
}


.book .edit {
    margin-right: 5px;
}

.book .delete {
    margin-left: 5px;
}




/* форма редагування книги */
/* выдвинул вправо для упрощения */
#edit-book-form {
    width: 300px;
    position: fixed;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

#image {
	background-color: white;
	box-shadow: 0px 0px 3px black;
	border: 2px solid black;
	width: 250px;
	height: 400px;
	z-index: 1000;
	left: 0;
	right: 0;
	margin: auto;
}

input[type = "file"] {
	width: 250px;
	height: 400px;
	z-index: 1000;
	position: absolute;
	margin-left: -250px;
	opacity: 0;
}