
<header class="header">

	<div class="header-1">

		<a href="http://localhost:3000" class="logo"> <i class="fas fa-book"></i> Holy Book </a>

		<form action="/searchPage" class="search-form" method="POST">
			<input type="text" name="searchText" placeholder="Search here..." id="search-box">
			<button type="submit" style="background-color: rgba(0,0,0,0)"><label for="search-box" class="fas fa-search"></label></button>
		</form>

		<div class="icons">
			
			<div id="search-btn" class="fas fa-search"></div>
			<a href="http://localhost:3000/wishList" class="fas fa-heart wish-list">
				{{!-- <span id="wishListId">0</span> --}}
			</a>
			
			<div id="login-btn" class="fas fa-user"></div>
			<a href='http://localhost:3000/shoppingCart' class="fas fa-shopping-cart icon-cart">
				<span id="shoppingId">0</span>
			</a>
			<div id="logged_user" class="User">{{{userName}}}</div>
		</div>

	</div>
	{{> navbarindex}}
</header>
{{!-- login form moved for simplicity --}}
    <div class="login-form-container">

        <div id="close-login-btn" class="fas fa-times"></div>

        <form method="POST" action="">
            <h3>sign in</h3>
            <span>username</span>
            <input type="text" name="login_name" class="box" placeholder="enter your login" id="">
            <span>password</span>
            <input type="password" name="login_password" class="box" placeholder="enter your password" id="">
            <div class="checkbox">
                <input type="checkbox" name="" id="remember-me">
                <label for="remember-me"> remember me</label>
            </div>
            <input type="submit" value="sign in" class="btn">
            <p>forget password ? <a href="#">click here</a></p>
            <p>don't have an account ? <a href='registration'>create one</a></p>
            <p style="color: red">{{login_result}}</p>
        </form>

    </div>
