        <div class="header-2">
            <nav class="navbar">
                <a href='home'>home</a>
                <!--Shit not be working on other pages 
                    <a href="#featured">featured</a>
                <a href="#arrivals">arrivals</a>-->
                <a href='genres'>genres</a>
            </nav>
        </div>