<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/addBook.css" type="text/css">
	<title>Add book</title>
	<link rel="icon" type="image/x-icon" href="/image/favicon.ico">
	<style>
		.form-control.user-profile-bio-field {
		max-width: 80%;
		min-height: 500px;
		min-width: 60%;
		max-height: 1000px; 
		margin-top: 7px;
		margin-bottom: 5px;
		margin-left: 20%;
	}
	</style>
</head>

<body>
	<div class="container">
		<h1 style="border-bottom: 2px solid black; text-align: center;">Add book</h1>
		<form id="saveForm">
			<label for="title">Book title</label>
			<input id="bookTitle" type="text" required>
			
			<label for="image">Book image</label>
			<center>
				<img id="image" src="" />
				<input id="bookImage" name="fieldname" required type="file" onchange="load_Image(this)" />
			</center>

			<label for="author">Author</label>
			<input id="bookAuthor" type="text" required>

			<label for="price">Price ($)</label>
			<input id="bookPrice" type="number" value="0.00" min="0.00" step="0.01" required>

			<label for="date">Date</label>
			<input id="bookDate" type="date" required>

			<label for="genre">Genre</label>
			<select id="bookGenre">
				<option selected value="Horror">Horror</option>
				<option value="Adventure">Adventure</option>
				<option value="Action">Action</option>
				<option value="Romantic">Romantic</option>
				<option value="Classic">Classic</option>
				<option value="Fantasy">Fantasy</option>
			</select>

			<label for="tags">Tags</label>
			<div class="flex-container">
				<select id="tags1">
					<option selected value=""></option>
					<option value="long">long</option>
					<option value="short">short</option>
					<option value="children">children</option>
					<option value="teenagers">teenagers</option>
					<option value="adults">adults</option>
					<option value="political">political</option>
					<option value="apocalyptic">apocalyptic</option>
					<option value="historical">historical</option>
					<option value="paranormal">paranormal</option>
					<option value="erotic">erotic</option>
					<option value="magical">magical</option>
					<option value="fairyTale">fairy tale</option>
					<option value="military">military</option>
					<option value="steampunk">steampunk</option>
					<option value="religious">religious</option>
					<option value="conspiracy">conspiracy</option>
					<option value="supernatural">supernatural</option>
				</select>
				<select id="tags2">
					<option selected value=""></option>
					<option value="long">long</option>
					<option value="short">short</option>
					<option value="children">children</option>
					<option value="teenagers">teenagers</option>
					<option value="adults">adults</option>
					<option value="political">political</option>
					<option value="apocalyptic">apocalyptic</option>
					<option value="historical">historical</option>
					<option value="paranormal">paranormal</option>
					<option value="erotic">erotic</option>
					<option value="magical">magical</option>
					<option value="fairyTale">fairy tale</option>
					<option value="military">military</option>
					<option value="steampunk">steampunk</option>
					<option value="religious">religious</option>
					<option value="conspiracy">conspiracy</option>
					<option value="supernatural">supernatural</option>
				</select>
				<select id="tags3">
					<option selected value=""></option>
					<option value="long">long</option>
					<option value="short">short</option>
					<option value="children">children</option>
					<option value="teenagers">teenagers</option>
					<option value="adults">adults</option>
					<option value="political">political</option>
					<option value="apocalyptic">apocalyptic</option>
					<option value="historical">historical</option>
					<option value="paranormal">paranormal</option>
					<option value="erotic">erotic</option>
					<option value="magical">magical</option>
					<option value="fairyTale">fairy tale</option>
					<option value="military">military</option>
					<option value="steampunk">steampunk</option>
					<option value="religious">religious</option>
					<option value="conspiracy">conspiracy</option>
					<option value="supernatural">supernatural</option>
				</select>
				<select id="tags4">
					<option selected value=""></option>
					<option value="long">long</option>
					<option value="short">short</option>
					<option value="children">children</option>
					<option value="teenagers">teenagers</option>
					<option value="adults">adults</option>
					<option value="political">political</option>
					<option value="apocalyptic">apocalyptic</option>
					<option value="historical">historical</option>
					<option value="paranormal">paranormal</option>
					<option value="erotic">erotic</option>
					<option value="magical">magical</option>
					<option value="fairyTale">fairy tale</option>
					<option value="military">military</option>
					<option value="steampunk">steampunk</option>
					<option value="religious">religious</option>
					<option value="conspiracy">conspiracy</option>
					<option value="supernatural">supernatural</option>
				</select>
				<select id="tags5">
					<option selected value=""></option>
					<option value="long">long</option>
					<option value="short">short</option>
					<option value="children">children</option>
					<option value="teenagers">teenagers</option>
					<option value="adults">adults</option>
					<option value="political">political</option>
					<option value="apocalyptic">apocalyptic</option>
					<option value="historical">historical</option>
					<option value="paranormal">paranormal</option>
					<option value="erotic">erotic</option>
					<option value="magical">magical</option>
					<option value="fairyTale">fairy tale</option>
					<option value="military">military</option>
					<option value="steampunk">steampunk</option>
					<option value="religious">religious</option>
					<option value="conspiracy">conspiracy</option>
					<option value="supernatural">supernatural</option>
				</select>
			</div>
			<label>Book description</label>
			<textarea required id = "bookDescription" class="form-control user-profile-bio-field js-length-limited-input"
				placeholder="Write down the description of the book" data-input-max-length="300"></textarea>
			<button type="submit">Add book</button>
		</form>
	</div>
	<!--
        <form id="edit-book-form" style="display: none;">
            <label for="edit-title">Нова назва книги:</label>
            <input type="text" id="edit-title" required>
        
            <label for="edit-author">Новий автор:</label>
            <input type="text" id="edit-author" required>
        
            <label for="edit-year">Новий рік видання:</label>
            <input type="number" id="edit-year" required>
        
            <label for="edit-genre">Новий жанр:</label>
            <select id="edit-genre">
                <option value="Драма">Драма</option>
                <option value="Історія">Історія</option>
                <option value="Фантастика">Фантастика</option>
                <option value="Пригоди">Пригоди</option>
                <option value="Роман">Роман</option>
            </select>
        
            <button type="submit">Зберегти зміни</button>
        </form>
		-->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="../scripts/addBook.js"></script>
</body>

</html>