<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookflix and Chill</title>
    <link rel="icon" type="image/x-icon" href="/image/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css" type="text/css">

    {{!-- shoppping cart css --}}
    <link rel="stylesheet" href="css/shoppingCart.css" type="text/css">


</head>

<body>

    <!-- header section starts  -->
    {{> header}}


    <!-- header section ends -->

    <!-- bottom navbar  -->

    <nav class="bottom-navbar">
        <a href="#home" class="fas fa-home"></a>
        <a href="#featured" class="fas fa-list"></a>
        <a href="#arrivals" class="fas fa-tags"></a>
        <a href="#reviews" class="fas fa-comments"></a>

    </nav>

    <!-- login form  -->

    <div class="login-form-container">

        <div id="close-login-btn" class="fas fa-times"></div>

        <form method="POST" action="">
            <h3>sign in</h3>
            <span>username</span>
            <input type="email" name="login_email" class="box" placeholder="enter your email" id="">
            <span>password</span>
            <input type="password" name="login_password" class="box" placeholder="enter your password" id="">
            <div class="checkbox">
                <input type="checkbox" name="" id="remember-me">
                <label for="remember-me"> remember me</label>
            </div>
            <input type="submit" value="sign in" class="btn">
            <p>forget password ? <a href="#">click here</a></p>
            <p>don't have an account ? <a href='registration'>create one</a></p>
            <p style="color: red">{{login_result}}</p>
        </form>

    </div>

    <!-- home section starts  -->

    <section class="home" id="home">

        <div class="row">
            <div class="content">
                <h3 style="color:white;">Up to 50% discount</h3>
                <a href="#" class="btn">Buy now</a>
                <p style="color:white; font-size:20px;"> Buy used or new books, online or in store, only at Bookflix and
                    Chill in the beautiful city of Shkodra!</p>
            </div>
            <div class="swiper books-slider">

                <div class="swiper-wrapper" id="bookShelfSwiper">
                     {{{book_carousel}}}
                </div>
                <img src="image/stand.png" class="stand" alt="">
            
				<button id="prevButton" aria-label="Назад">&#60;</button>
				<button id="nextButton" aria-label="Вперед">&#62;</button>
           
            </div>
           
        </div>

    </section>

    <!-- home section ense  -->

    <!-- icons section starts  -->

    <section class="icons-container">

        <div class="icons">
            <i class="fas fa-shipping-fast"></i>
            <div class="content">
                <h3>Free mail</h3>
                <p>for orders over $ 100</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-lock"></i>
            <div class="content">
                <h3>Secure payment</h3>
                <p>100% data security</p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-redo-alt"></i>
            <div class="content">
                <h3>Easy returns</h3>
                <p>return up to 10 days </p>
            </div>
        </div>

        <div class="icons">
            <i class="fas fa-headset"></i>
            <div class="content">
                <h3>24/7 support</h3>
                <p>sms / phone calls at any time </p>
            </div>
        </div>

    </section>

    <!-- icons section ends -->

    <!-- featured section starts  -->







    <section class="featured" id="featured">

        <h1 class="heading"> <span>featured books</span> </h1>

        <div class="swiper featured-slider">

            <div class="swiper-wrapper">
				
				{{> featured}}

            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

        </div>

    </section>

    <!-- featured section ends -->

    <!-- newsletter section starts -->


    <!-- нахуй он это сделал? я бы убрал -->
    <section class="newsletter">

        <form action="">
            <h3>subscribe for latest updates</h3>
            <input type="email" name="" placeholder="enter your email" id="" class="box">
            <input type="submit" value="subscribe" class="btn">
        </form>

    </section>

    <!-- newsletter section ends -->

    <!-- arrivals section starts  -->





    <section class="arrivals" id="arrivals">

        <h1 class="heading"> <span>new arrivals</span> </h1>

        <div class="swiper arrivals-slider">

            <div class="swiper-wrapper">

                <a href="#" class="swiper-slide box">
                    <div class="image">
                        <img src="wish_you_were_here.jpg" alt="">
                    </div>
                    <div class="content">
                        <h3>new arrivals</h3>
                        <div class="price">$18.99 <span>$22.99</span></div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </a>


            </div>

            <div class="swiper arrivals-slider">

                <div class="swiper-wrapper">

                    <a href="#" class="swiper-slide box">
                        <div class="image">
                            <img src="matrix.jpg" alt="">
                        </div>
                        <div class="content">
                            <h3>new arrivals</h3>
                            <div class="price">$15.99 <span>$20.99</span></div>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </a>

                </div>

    </section>

    <!-- arrivals section ends -->

    <!-- deal section starts  -->

    <section class="deal">

        <div class="content">
            <h3>offer of the day</h3>
            <h1>up to 50% discount</h1>
            <p>Browse exclusive books today! Hurry up - the day offer expires at midnight!</p>
            <a href="#" class="btn">shop now</a>
        </div>

        <div class="image">
            <img src="image/deal-img.jpeg" alt="">
        </div>

    </section>

    <!-- deal section ends -->
    <!-- footer section starts  -->
	{{> shoppingmenu}}
    {{> footer}}
	




<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>    <!-- custom js file link  -->
    <script src="javascript.js"></script>
    {{!-- shopping cart logic --}}
    <script src="scripts/coockies-to-js.js"></script>
	
</body>

</html>