<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookflix and Chill</title>
        <link rel="icon" type="image/x-icon" href="/image/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

       <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />



    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/shoppingCart.css" type="text/css">
</head>

<body>
    {{>header}}


    {{>footer}}
</body>

    <script src="/scripts/change-shopping-cart.js"></script>
    <script src="scripts/shopping-cart-content.js"></script>
    <script src="scripts/shopping-cart.js"></script>
</html>