<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookflix and Chill</title>
    <link rel="icon" type="image/x-icon" href="/image/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css" type="text/css">

<style>

h1 {
    color: #333;
}

h5 {
    color: #666;
}

/* Стили для корзины покупок */
#cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#cart-container h3 {
    display: inline-block;
    margin-right: 20px;
}

#cart-container h3:last-child {
    margin-right: 0;
    margin-left: 25px;
}

/* Стили для "Saved for later" */
#saved-for-later {
    margin-top: 20px;
}

#saved-for-later p {
    font-style: italic;
}

/* Стили для кнопки Apply */
#apply-button {
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#apply-button:hover {
    background-color: #0056b3;
}

/* Стили для Order Summary */
#order-summary {
    margin-top: 20px;
}

/* Стили для Proceed To Checkout */
#checkout-button {
    display: block;
    margin-top: 20px;
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

#checkout-button:hover {
    background-color: #218838;
}
/* Styles for cart book items */
.cart-book {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.book-details {
    display: flex;
    align-items: center;
}

.book-image {
    width: 50px; /* Adjust size as needed */
    height: auto;
    margin-right: 10px;
}

.book-info {
    flex: 1;
}

.book-title {
    margin: 0;
    color: #333;
}

.book-author {
    margin: 0;
    color: #666;
}

.book-price {
    margin-left: auto;
    color: #333;
}


</style>

</head>

<body>

{{>header}}

 <h1>Your Shopping Cart</h1>
<div id="bookListContainer"></div>

    <h2>Total price is:<span id="totalPrice">0$</span></h2>
<button class="btn" id="clearAllButton" onclick="clearShoppingCart()">Clear all cart</button>
<button class="btn" id="buyAllButton" onclick="buyShoppingCart()">Buy</button>

{{>footer}}
</body>

    <script src="/scripts/change-shopping-cart.js"></script>
    <script src="scripts/shopping-cart-content.js"></script>
    <script src="scripts/shopping-cart.js"></script>

</html>