<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookflix and Chill</title>
    <link rel="icon" type="image/x-icon" href="/image/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/shoppingCart.css" type="text/css">

</head>

<body>
    {{>header}}
    <div id="Centre">
        <div id="Cart">
            <h1>Your Shopping Cart</h1>
            <div id="bookListContainer"></div>

            <h2>Total price is:<span id="totalPrice" class="book-price">0$</span></h2>
            <button class="btn" id="clearAllButton" onclick="clearShoppingCart()">Clear all cart</button>
            <button class="btn" id="buyAllButton" onclick="buyShoppingCart()">Buy</button>
        </div>
    </div>
    {{>footer}}
</body>

    <script src="/scripts/change-shopping-cart.js"></script>
    <script src="scripts/shopping-cart-content.js"></script>
    <script src="scripts/shopping-cart.js"></script>

</html>